body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
}

h1 {
    font-family: monospace, sans-serif;
    text-align: center;
}

#void-fill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 75vw;
}